.game-board-header_icon {
    width: 40px;
    margin-left: -6px;
}
.game-board-header_label {
    font-size: var(--size-text-l);
    line-height: var(--size-text-xl);
    color: var(--ion-color-primary-contrast);
}
